<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="a200_ros2_control" params="use_sim:=true">

    <!-- ========================================= -->
    <!-- ros2_control hardware interface            -->
    <!-- ========================================= -->
    <ros2_control name="a200_hardware" type="system">
      <hardware>
        <xacro:if value="${use_sim}">
          <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </xacro:if>
        <xacro:unless value="${use_sim}">
          <plugin>clearpath_hardware_interfaces/A200Hardware</plugin>
          <param name="wheel_diameter">0.3302</param>
          <param name="max_accel">5.0</param>
          <param name="max_speed">1.0</param>
          <param name="polling_timeout">0.1</param>
          <param name="serial_port">/dev/clearpath/prolific</param>
        </xacro:unless>
      </hardware>

      <joint name="front_left_wheel_joint">
        <command_interface name="velocity">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="rear_left_wheel_joint">
        <command_interface name="velocity">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="front_right_wheel_joint">
        <command_interface name="velocity">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="rear_right_wheel_joint">
        <command_interface name="velocity">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>

    <!-- ========================================= -->
    <!-- Gazebo ros2_control plugin                 -->
    <!-- ========================================= -->
    <xacro:if value="${use_sim}">
      <gazebo>
        <plugin filename="libgz_ros2_control-system.so"
                name="gz_ros2_control::GazeboSimROS2ControlPlugin">
          <parameters>$(find warebot)/config/ros2_control.yaml</parameters>
        </plugin>
      </gazebo>
    </xacro:if>

  </xacro:macro>

</robot>
